@import "tailwindcss";

@source "../components/**/*.{ts,tsx}";
@source "../app/**/*.{ts,tsx}";

@theme inline {
  --font-sans: -apple-system, "system-ui", sans-serif;
  --text-xs: 0.8125rem;
}

body {
  @apply bg-neutral-50 text-neutral-900 antialiased;
}

* {
  @apply border-neutral-200;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }
  50.01%,
  100% {
    opacity: 0;
  }
}

.animate-blink {
  animation: blink 1s steps(1) infinite;
}
